/**********ul.toogle*********/
ul.toggle{
    position: absolute;
    z-index: 5;
    top: 4%;  right: 10px;
    width: 50px;   height: 50px;
    cursor: pointer;
}
ul.toggle.active {
    right: 20px;
}
ul.toggle li{
    position: absolute;
    left: 5%;
    transform: translateY(-50%);
    height: 2px;  width: 90%;
    list-style: none;
    background: black;
    transition: .9s;
}
ul.toggle li:nth-of-type(1){
    top: 20%;
}
ul.toggle li:nth-of-type(2){
    top: 50%;
}
ul.toggle li:nth-of-type(3){
    top: 80%;
}
ul.toggle.active li:nth-of-type(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
ul.toggle.active li:nth-of-type(2){
    left: -100%;
    opacity: 0;
}
ul.toggle.active li:nth-of-type(3){
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}
