@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}


h2 {
	@include fontSize(13);
	font-weight: 400;
	margin: 0;
	position: relative;
	top: -10px;
}

a {
	text-decoration: none;
	color: black;
}
h1 {
		@include fontSize(27);
		font-weight: 400;
		margin: 0;
}
p, a{
	@include fontSize(11);
}

/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}